.bf-monlayer{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(22, 26, 29);
}
.bf-container{
    margin: 200px auto;
    width: 650px;
    color: #fff;
    background: #2d2d2d;
    border-radius: 10px;
    border: 1px #000;
    box-shadow: 1px 1px 0px #545454, -1px -1px 0px #545454, 1px -1px 0px #545454, -1px 1px 0px #545454;
}
.bf-dialog{
    padding: 55px;
}
.bf-imgContainer{
    text-align: center;
}
.bf-imgIcon{
    display: inline-block;
    width: 114px;
    height: 114px;
    background: url("chrome.png") no-repeat center;
    cursor: pointer;
}
.bf-description{
    font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol";
    text-align: center;
    color: #4a4a4a;
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}
